
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 0.5s infinite;
  color:rgb(34 197 94/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-weight: 700;
  font-size:50px;
}
